<%- include ./layout/header %>

<link rel="stylesheet" href="http://ydxx.andiliba.cn/public/css/home.css">
<style>
    h3 {
        text-align: left;
    }
</style>
<div class="layui-row">
    <h2 style="color: #26c5a1;margin-top: 20px;">《云顶修仙Online》更新文档</h2>
    <div class="layui-col-xs12" style="text-align: left;margin-top: 80px;margin-left: 80px;">
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年9月21日</h3>
                    <p>
                        1.修复法宝在战斗中未生效问题.
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年9月15日</h3>
                    <p>
                        1.新增人物装备翅膀.
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年9月11日</h3>
                    <p>
                        1.修复技能伤害双倍问题.
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年9月3日</h3>
                    <p>
                        1.优化系统推送与世界聊天.
                        <br>2.增加技能,完成扩展(等待新增技能).
                        <br>3.80级以上都将面临渡劫，新增道具破障丹(正常渡劫成功率为90/100,使用破障丹后为99/100).
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年9月1日</h3>
                    <p>
                        1.继续优化世界boss，并可自动轮询战斗
                        <br>
                        -- boss奖励目前按照伤害排名发放积分，战斗中统计死亡次数，跟最后结算挂钩
                        <br>2.增加爬塔物品掉落，各种珍稀材料等(1-12层已实装)
                        <br>3.优化服务端，提升稳定性
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年8月31日</h3>
                    <p>
                        1.正式开放世界boss
                        <br>2.提升单人冒险加成，优化多人冒险加成
                        <br>3.优化服务端，提升稳定性
                        <br>4.可选是否接收全局广播(关闭更稳定，但接收不到世界消息与系统推送)
                        <br>5.限制多开优化
                        <br>6.单人可带4宠出战，提升单人冒险可靠性(待测)
                        <br>7.新增道具，神行符箓(传送任意地图，地图右上角小飞机使用)
                        <br>8.实装装备绿字加成
                        <br>9.战斗初始时，悬浮血条可显示战斗属性
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年8月28日</h3>
                    <p>
                        1.世界boss测试中...
                        <br>2.提升单人冒险加成，削弱多人冒险加成.
                        <br>3.调控灵石产出上限(2000)
                    </p>
                </div>
            </li>
        </ul>

    </div>

</div>

<%- include ./layout/footer %>