<%- include ./layout/header %>
<div class="layui-row">
    <h3 style="color: #26c5a1;margin-top: 20px;">《云顶修仙Online》更新文档</h3>
    <div class="layui-col-xs12" style="text-align: left;margin-top: 80px;margin-left: 80px;">
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年8月31日</h3>
                    <p>
                        1.正式开放世界boss
                        <br>2.提升单人冒险加成，优化多人冒险加成
                        <br>3.优化服务端，提升稳定性
                        <br>4.可选是否接收全局广播(关闭更稳定，但接收不到世界消息与系统推送)
                        <br>5.限制多开优化
                        <br>6.单人可带4宠出战，提升单人冒险可靠性(待测)
                        <br>7.新增道具，神行符箓(传送任意地图，地图右上角小飞机使用)
                        <br>8.实装装备绿字加成
                        <br>9.战斗初始时，悬浮血条可显示战斗属性
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年8月28日</h3>
                    <p>
                        1.世界boss测试中...
                        <br>2.提升单人冒险加成，削弱多人冒险加成.
                        <br>3.调控灵石产出上限(2000)
                    </p>
                </div>
            </li>
        </ul>

    </div>

</div>

<%- include ./layout/footer %>