<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="author" content="joucksHua" />
    <meta name="Keywords" content="云顶修仙,云顶修仙Online" />
    <meta name="Description" content="云顶修仙Online" />
    <link rel="stylesheet" href="http://ydxx.andiliba.cn/public/layui/css/layui.css">
    <link rel='stylesheet' href='http://ydxx.andiliba.cn/public/style.css' />
    <!-- <title>云顶修仙 - 修仙进行中...</title> -->
    <title>云顶修仙 - 修仙进行中...</title>
    <style>
        body {
            color: gray;
            overflow-x: hidden;
            margin: 0;
            overflow-x: hidden;
            text-align: center;
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        .top-bar {
            background-color: white;
            height: 26px;
            line-height: 26px;
            font-size: 13px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: left;
            box-shadow: 0px 0px 5px rgba(136, 136, 136, 0.6);
        }

        .footer {
            background-color: #333;
            color: white;
            font-size: 13px;
            /* margin-top: 312px; */
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .zuozhe {
            color: palevioletred;
            float: right;
        }

        .cdk {
            color: cadetblue;
            cursor: pointer;
        }
    </style>
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <div class="top-bar">
        <span>《云顶修仙Online版》</span>
        <!-- <a href="/login">登录</a>
        <span class="title">《云顶修仙》</span> <a onclick="switchModeFunc(1)">切换</a>/F2 -->
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span id="tip-header"><a target="_blank"
                href="/exchange">兑换码</a>&nbsp;&nbsp;&nbsp; -->
        <span>玩家交流QQ群:173059029
            <!-- (每天群里都会发福利<span style="color: orange;">兑换码</span>) -->
        </span>
        <!-- &nbsp;&nbsp;&nbsp;tip:如遇到页面卡着不动，刷新能解决大部分问题。&nbsp;&nbsp;&nbsp; -->
        <span class="sdk-tip"><a class="cdk" target="_bank" href="http://yundingxx.kidsongs.top/#/">网页挂机版</a>
            <span class="prompt-box">
                <h5>练功房sdk</h5>
                地址:<a target="_bank" href="http://yundingxx.kidsongs.top/#/">点击前往</a>
                <br>
                介绍:简洁页面,便捷挂机,自动一体化...
                <br>
                作者:夏影
                <br>
                开源:<a target="_bank"
                    href="https://github.com/Flywor/YunDingGameOnline">https://github.com/Flywor/YunDingGameOnline</a>
                <br>
                <h5>原版扩展sdk</h5>
                下载地址:<a target="_bank" href="https://github.com/whosphp/snippets/blob/master/xx.user.js">点击前往</a>
                <br>
                介绍:基于原版的扩展sdk,需配合油猴插件,多开请使用Chrome浏览器需要SessionBox隔离.
                <br>
                作者:叶凡
                <br>
                开源:<a target="_bank" href="https://github.com/whosphp/snippets/blob/master/xx.user.js ">点击前往</a>
                <br>
                <h5>客户端命令行版</h5>
                下载地址:<a target="_bank" href="https://wwa.lanzous.com/iBUn7eo7urc">点击前往</a>
                <br>
                介绍:win系统可下载使用的命令行版.
                <br>
                作者:小宅
                <br>
                开源:<a target="_bank" href="">无</a>
                <br>
            </span>


        </span>
        <span class="zuozhe">联系作者-wx:J-ChaoCool</span>
    </div>