<div class="layui-row">
    <div class="layui-col-sm6" id="system-sell-page"></div>
</div>
<hr>
<div class="layui-row">
    <div class="layui-row">
        <div class="layui-col-sm4 layui-col-xs6" style='padding:5px'>
            <div class="sys-goods-block">
                <span style="color:burlywood;">灵石兑换</span>
                <a href="javascript:;" class="by-goods" onclick="byXsFunc()" style="color: chocolate;">兑换</a>
                <span class="prompt-box">
                    <p><span class="price-tip">可将仙石转化为灵石，10w仙石转换500w灵石，点击即兑换</span>
                </span></p>
            </div>
        </div>
    </div>
    <div id="sys-goods-page"></div>
</div>