<div class="layui-row" style=" border: 1px solid #ccc;text-align: center;">
    <div class="layui-row" style="margin-top: 10px;">
        <p style="color: white;">提升成长将消耗[兽宠络易丹]</p>
        <h6 style="color:white;">提升成长将消耗[兽宠净灵丹]↑7~15</h6>
        <div class="layui-col-md6">
            <table class="layui-table" style="margin: 0;text-align: center;">
                <colgroup>
                    <col width="35.5%">
                </colgroup>
                <tbody>
                    <tr>
                        <td>成长:<span id="fit_growing_num">-</span><a onclick="userPetZzUpFunc('growing_num')">↑</a></td>
                    </tr>
                    <tr>
                        <td>攻击资质:<span id="fit_str_zz">-</span><a onclick="userPetZzUpFunc('str_zz')">↑</a></td>
                    </tr>
                    <tr>
                        <td>防御资质:<span id="fit_vit_zz">-</span><a onclick="userPetZzUpFunc('vit_zz')">↑</a></td>
                    </tr>
                    <tr>
                        <td>体力资质:<span id="fit_con_zz">-</span><a onclick="userPetZzUpFunc('con_zz')">↑</a></td>
                    </tr>
                    <tr>
                        <td>法力资质:<span id="fit_int_zz">-</span><a onclick="userPetZzUpFunc('int_zz')">↑</a></td>
                    </tr>
                    <tr>
                        <td>速度资质:<span id="fit_speed_zz">-</span><a onclick="userPetZzUpFunc('speed_zz')">↑</a></td>
                    </tr>
                    <tr>
                        <td>躲避资质:<span id="fit_dodge_zz">-</span><a onclick="userPetZzUpFunc('dodge_zz')">↑</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-col-md6">

        </div>
    </div>
</div>